body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(89, 188, 206);
}

a:visited {
  color: rgb(89, 188, 206)
}

@font-face {
  font-family: Poppins;
  src: url("/fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}